body {
    font-family: Raleway, sans-serif;
}

#timeContainer {
    width: 600px;
    margin: 100px auto 20px auto;
    text-align: center;
}

#lapContainer {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.time {
    display: inline;
    font-size: 5em;
    font-weight: bold;
}

.buttons {
    display: inline-block;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: solid 1px #942911;
    color:#fff;
    font-size: 1.5em;
    padding: 6px 24px;
}

.buttons:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
}

#lap {
    width: 200px;
}

#start, #reset {
    position: relative;
    top: -0.6em;
}

#start:active, #reset:active {
    top: -0.5em;
}

#lap:active {
    position: relative;
    top: 1px;
}

ul {
    list-style: none;
    font-size: 2em;
}

li {
    border-radius: 4px;
}

li:nth-child(even) {
    background-color: ghostwhite;
}

li:nth-child(odd) {
    background-color: antiquewhite ;
}
